# Sistema
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo

# Secretos
.env
!.env.example

# Entornos virtuales
.venv/
venv/

# Dependencias Node
node_modules/

# Archivos temporales y logs
*.log
query
